<ul class="list-unstyled position-absolute mobile-navigation-sublist" data-category="<%= category.parameterize %>">
  <li class="text-center font-weight-bold mobile-navigation-sublist-header">
    <%= category %>
  </li>

  <% if can? :admin, Spree::Config %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:general_settings), spree.edit_admin_general_settings_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::Store %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:stores), spree.admin_stores_path, class: 'w-100' if can?(:manage, Spree::Store) %>
    </li>
  <% end %>
  <% if can? :admin, Spree::TaxCategory %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:tax_categories), spree.admin_tax_categories_path, class: 'w-100' %>
    </li>
  <% end %>

  <% if can? :admin, Spree::TaxRate %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:tax_rates), spree.admin_tax_rates_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::Zone %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:zones), spree.admin_zones_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::Country %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:countries), spree.admin_countries_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::Country %>
    <% if country = Spree::Country.find_by(id: Spree::Config[:default_country_id]) || Spree::Country.first %>
      <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
        <%= link_to Spree.t(:states), spree.admin_country_states_path(country), class: 'w-100' %>
      </li>
    <% end %>
  <% end %>
  <% if can? :admin, Spree::PaymentMethod %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:payment_methods), spree.admin_payment_methods_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::ShippingMethod %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:shipping_methods), spree.admin_shipping_methods_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::ShippingCategory %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:shipping_categories), spree.admin_shipping_categories_path, class: 'w-100' if can?(:manage, Spree::ShippingCategory) %>
    </li>
  <% end %>
  <% if can? :admin, Spree::StockTransfer %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:stock_transfers), spree.admin_stock_transfers_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::StockLocation %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:stock_locations), spree.admin_stock_locations_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::StoreCreditCategory %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:store_credit_categories), spree.admin_store_credit_categories_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::RefundReason %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:refund_reasons), spree.admin_refund_reasons_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::ReimbursementType %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:reimbursement_types), spree.admin_reimbursement_types_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::ReturnAuthorizationReason %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:return_authorization_reasons), spree.admin_return_authorization_reasons_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::Role %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:roles), spree.admin_roles_path, class: 'w-100' %>
    </li>
  <% end %>
</ul>