<ul class="list-unstyled position-absolute mobile-navigation-sublist" data-category="<%= category.parameterize %>">
  <li class="text-center font-weight-bold mobile-navigation-sublist-header">
    <%= category %>
  </li>

  <% if can? :admin, Spree::Product %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:products, scope: [:admin, :tab]), spree.admin_products_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::OptionType %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
    	<%= link_to Spree.t(:option_types, scope: [:admin, :tab]), spree.admin_option_types_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::Property %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
    	<%= link_to Spree.t(:properties, scope: [:admin, :tab]), spree.admin_properties_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::Prototype %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:prototypes, scope: [:admin, :tab]), spree.admin_prototypes_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::Taxonomy %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
      <%= link_to Spree.t(:taxonomies, scope: [:admin, :tab]), spree.admin_taxonomies_path, class: 'w-100' %>
    </li>
  <% end %>
  <% if can? :admin, Spree::Taxon %>
    <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
    	<%= link_to Spree.t(:taxons, scope: [:admin, :tab]), spree.admin_taxons_path, class: 'w-100' %>
    </li>
  <% end %>
</ul>