<div class="position-fixed text-uppercase mobile-sidebar">
  <div class="d-flex align-items-center header-spree" data-hook>
    <div class="container-fluid header-spree-fluid">
      <div class="d-flex flex-nowrap align-items-center">
        <figure class="logo flex-grow-1 text-center header-spree-fluid-logo m-0">
          <%= link_to(
            image_tag(Spree::Config[:admin_interface_logo]),
            spree.admin_path,
            class: "logo") %>
        </figure>
        <div id="" class="text-right header-spree-fluid-secondary-navigation" data-hook>
          <button id="mobile-sidebar-close-button" aria-label="<%= Spree.t('nav_bar.close_menu') %>">
            <%= icon(name: 'close',
                    classes: 'd-sm-none',
                    width: 17,
                    height: 17) %>
            <%= icon(name: 'close',
                    classes: 'd-none d-sm-inline',
                    width: 26,
                    height: 26) %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "spree/admin/shared/sidebar" %>
</div>