<ul id="admin-nav-bar" class="nav align-items-center d-flex justify-content-end navbar-right">
  <% if content_for?(:table_filter)%>
    <li>
      <div class="navbar-right-search-menu">
        <button type="button" class="navbar-right-dropdown-toggle search-icons" aria-label="<%= Spree.t('nav_bar.show_search')%>">
          <%= icon(name: 'magnifying-glass',
                   classes: 'd-none d-xl-inline-block',
                   width: 36,
                   height: 36) %>

          <%= icon(name: 'magnifying-glass',
                   classes: 'd-xl-none',
                   width: 24,
                   height: 24) %>
        </button>
 
        <div id="admin-search-dropdown" class="p-0 py-md-2 w-100 shadow navbar-right-search-menu-dropdown hide-on-esc">
          <%= render partial: 'spree/admin/shared/table_filter' %>
        </div>
      </div>
    </li>
  <% end %>

  <% if content_for?(:sidebar)%>
    <li>
      <div class="d-md-none flex-grow-1 navbar-right-dropdown">
        <button class="navbar-toggler border-0 px-0 d-flex" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-label="<%= Spree.t('nav_bar.show_menu') %>">
          <%= icon(name: 'spree_backendx/cog',
                  width: 27,
                  height: 27)  %>
        </button>
      </div>
      <div class="d-none d-md-flex flex-grow-1 navbar-right-dropdown">
        <button id="content-sidebar" class="navbar-toggler border-0 px-0 d-flex" type="button" aria-label="<%= Spree.t('nav_bar.show_menu') %>">
          <%= icon(name: 'spree_backendx/cog',
                  width: 36,
                  height: 36)  %>
        </button>
      </div>
    </li>
  <% end %>

  <% if try_spree_current_user %>
    <li>
      <div class="dropdown navbar-right-dropdown">
        <button id="store-button" type="button" data-toggle="dropdown" class="navbar-right-dropdown-toggle" aria-label="<%= Spree.t('nav_bar.show_user_menu')%>">
          <%= icon(name: 'spree_backendx/shop-2',
                  classes: 'd-none d-xl-inline-block',
                  width: 36,
                  height: 36) %>
          <%= icon(name: 'spree_backendx/shop-2',
                  classes: 'd-xl-none',
                  width: 27,
                  height: 27) %>
        </button>

        <div id="admin-account-nav-links" class="dropdown-menu dropdown-menu-right">
          <%= render partial: "spree/admin/shared/account_nav" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>