<% if content_for?(:table_filter) %>
  <div class="filter-wrap row p-0">
    <div class="<%= filter_classes %>" id="admin-table-filter">
      <div class="input-group">
        <%= form_tag request.fullpath, id: "quick-search", class: 'py-md-1 d-flex align-items-center flex-grow-1' do %>
          <%= text_field_tag :quick_search, nil, class: "border-0 p-3 js-quick-search", placeholder: Spree.t(:quick_search) %>
          <span class="js-show-index-filters">
            <%= icon(name: 'arrow-right',
                     classes: 'd-md-none spree-icon-arrow spree-icon-arrow-down',
                     width: 20,
                     height: 20) %>
            <%= icon(name: 'arrow-right',
                     classes: 'd-none d-md-inline spree-icon-arrow spree-icon-arrow-down',
                     width: 27,
                     height: 27) %>
          </span>
        <% end %>
      </div>
      <% unless defined?(simple) %>
        <div id="table-filter" data-hook class="card bg-light filter-well m-0 mx-3 mb-3">
          <div class="card-body">
            <%= yield :table_filter %>
          </div>
        </div>
      <% end %>      
    </div>
  </div>

  <div class="row p-0">
    <div class="col-12 offset-md-2 col-md-10">
      <div class="table-active-filters js-filters m-0"></div>
    </div>
  </div>
<% end %>